//base.scss

body {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;

}

.link {
  text-decoration: none;
  &:hover {
    text-decoration: none;
  }
  &:focus {
    text-decoration: none;
  }
}

.divider {
  opacity: 0.75;
  border: 1px solid $divider-color;
}