//contact.scss

.contact__container {
  max-width: 800px;
  margin: auto;
  [class*='col-'] {
    padding-top: 24px;
    p {
      margin: 5px 0;
      color: $text-color;
      font-weight: 600;
    }
    textarea {
      resize: none;
    }
  }

  .send__button-box {
    margin: 40px 0;
    text-align: center;
  }

  .submit__button_send {
    padding: 5px 20px;
    border: 1px solid transparent;
    border-radius: 5px;
    outline: none;
    font-size: 16px;
    font-weight: 600;
  }
}

.contact__field {
  padding: 8px 0 8px 10px;
  border-radius: 4px;
  outline: none;
  border: 2px solid #dbcdcd;
}

@media only screen and (max-width: $screen-md-max ) {
  .contact__container {
    max-width: 700px;
  }
}

@media only screen and (max-width: $screen-sm-max) {
  .contact__container {
    max-width: 600px;
  }
}

@media only screen and (max-width: $screen-xs-max) {
  .contact__container {
    max-width: 400px;
  }
}

@media only screen and (max-width: $screen-xs) {
  .contact__container {
    max-width: 240px;
  }
}