//main.scss
.header {
  background-color: #ffffff;
}
.header-container {
  @extend .clearfix;
  padding: 8px 15px 12px;
  max-width: 1200px;
  margin: auto;
}

.logo {
  float: left;
}
.logo-container {
  width: 100%;
}
.logo__link {
  display: block;
}
.logo__img {
  max-width: 100%;
}

.navigation {
  float: right;
  text-align: right;
}
.nav-lang-switcher {
  display: inline-block;
  margin-right: 15px;
}
.nav-lang__icon {
  padding-right: 3px;
  cursor: pointer;
}
.nav-search {
  display: inline-block;
  position: relative;
}
.nav-search__input {
  position: relative;
  outline: none;
  padding: 5px 0;
  border: 2px solid #DCDCDC;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;;
  width: 160px;
}
.nav-search__submit {
  position: absolute;
  -webkit-appearance:none;
  top: 6px;
  right: 5px;
  width: 30px;
  background-color: transparent;
  border: 0;
  background-image: url('/images/Icons/ic_search_black_24px.svg');
  background-repeat: no-repeat;
  background-position: right;
  &:focus {
    outline: none;
  }
}
.nav-search__input[placeholder] {
  color: #DCDCDC;
  font-weight: 800;
  padding-left: 5px;
}
.navigation-menu {
  @extend .clearfix;
  padding-top: 10px;
  margin: 0;
  list-style-type: none;
}

.navigation-menu__item {
  float: left;
  padding: 0;
  margin-left: 20px;
  position: relative;

}
.menu__link {
  color: $text-color;
  font-weight: $menu-font-weight;
  &:hover {
    color: #1FAC40;
  }
  &:focus {
    color: #1FAC40;
  }
}
.menu__link {
  padding: 10px 0;
}
.dropdown__squar-top {
  position: absolute;
  width: 24px;
  height: 17px;
  display: block;
  top: -4px;
  left: 31px;
  border: 1px solid #ebccd1;
  background-color: #fff;
  -ms-transform: rotate(45deg); /* IE 9 */
  -webkit-transform: rotate(45deg); /* Chrome, Safari, Opera */
  transform: rotate(45deg);
}
.dropdown__squar-cover {
  position: absolute;
  width: 43px;
  height: 23px;
  display: block;
  top: 0px;
  left: 25px;
  background-color: #fff;
}
.navigation-menu__item {
  &:nth-last-of-type(-n+2) {
    .dropdown__menu-box {
      right: 0;
      .dropdown__squar-cover {
        right: 5px;
        left: auto;
      }
      .dropdown__squar-top {
        right: 10px;
        left: auto;
      }
    }
  }
}

.dropdown__menu-box {
  position: absolute;
  top: 25px;
  display: none;
  padding: 5px;
  width: 215px;
  background-color: #fff;
  z-index: 10;
  border: 1px solid #ebccd1;
  text-align: left;
  box-shadow: 1px 0px 3px 1px #ebccd1;

  .dropdown__menu {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  .dropdown__item {
    margin: 12px 8px 15px;
  }
  .dropdown__link {
    color: $text-color;
    font-weight: $menu-font-weight;
    &:hover {
      color: #1FAC40;
    }
    &:focus {
      color: #1FAC40;
    }
  }
}

.slider {
  .bx-wrapper img {
    display: none;
  }
  .bx-wrapper .bx-pager.bx-default-pager a  {
    background: #D1D4CC;
  }
  .bx-wrapper .bx-viewport {
    border: none;
    left: 0;

  }
  .bx-wrapper .bx-pager,
  .bx-wrapper .bx-controls-auto {
    bottom: 5px;
  }
  .bx-wrapper .bx-pager.bx-default-pager a {
    margin: 0 6px;
  }
  .bx-wrapper .bx-controls-direction a {
    margin-top: -18px;
  }
}
.slides {
  display: block;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
.slide__item {
  list-style-type: none;
  background-position: center center;
  -webkit-background-size: cover;
  background-size: cover;
  height: 550px;
}
.slide-container {
  max-width: 692px;
  width: 100%;
  margin: auto;
}
.slide-container__cell {
  display: table-cell;
  height: 500px;
  vertical-align: middle;
  text-align: center;
}

.slide__title,
.slide__text {
  color: #fff;
  text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.50);
  &:hover {
    color: #fff;
  }
  &:focus {
    color: #fff;
  }
}
.slide-container__title {
  padding-left: 25px;
}
.slide__title {
  font-size: 45px;
  border: 3px solid #fff;
  display: inline-block;
  padding: 2px 18px;
  margin-bottom: 30px;
}

.slide__text {
  font-size: 22px;
}

.info-container {
  max-width: 1200px;
  width: 100%;
  padding: 10px 15px;
  margin: auto;
}
.info-heading {
  text-align: center;
}
.info__header {
  position: relative;
  font-size: 39px;
  &:after {
    content: '';
    display: block;
    border: 1px solid #7BD29D;
    width: 50px;
    margin: 20px auto;
  }
}
.info__description {
  font-size: 18px;
  color: #666;
}

.info-content {
  @extend .clearfix;
  padding: 70px 0;
  .content-box {
    float: left;
    width: 33.333333333333%;
    text-align: center;
    padding: 5px 35px;
  }
  .content__text {
    color: #666;
    font-size: 18px;
  }
}

.subscribe-container {
  padding: 80px 15px;
  max-width: 700px;
  width: 100%;
  margin: auto;
  .subscribe-box__input {
    width: 100%;
  }
  .subscribe-box__submit {
    width: 100%;
    font-weight: 600;
  }
}
.subscribe-box {
  @extend .clearfix;
}
.subscribe-box__input,
.subscribe-box__submit {
  padding: 12px 0;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
.subscribe-container {
  .subscribe-input-box {
    position: relative;
    float: left;
    padding-right: 12px;
    width: 70%;
  }
  .subscribe-box__input[placeholder] {
    padding-left: 10px;
  }
  ::-webkit-input-placeholder {
    color: #666;
    font-weight: 800;

  }

  :-moz-placeholder { /* Firefox 18- */
    color: #666;
    font-weight: 800;
  }

  ::-moz-placeholder {  /* Firefox 19+ */
    color: #666;
    font-weight: 800;
  }

  :-ms-input-placeholder {
    color: #666;
    font-weight: 800;
  }

  .subscribe-submit-box {
    float: left;
    width: 30%;
  }
  .subscribe-box__submit {
    border: none;
  }

  .subscribe-box__submit_icon {
    position: absolute;
    right: 20px;
    top: 13px;
    outline: none;
    background-color: transparent;
    border: none;
    background-image: url("../images/Icons/1462385609_mail.svg");
    width: 30px;
    background-position: center center;
    -webkit-background-size: cover;
    background-size: cover;
  }
}

.border-primary {
  border: 1px solid $button-color-primary;
}
.actual-info-container {
  @extend .clearfix;
  max-width: 1200px;
  width: 100%;
  margin: auto;
  padding: 30px 15px;
}
.actual-info-heading {
  text-align: center;
  margin-bottom: 50px;
}
.actual-info__title {
  font-size: 40px;
  &:after {
    content: '';
    display: block;
    border: 1px solid #7BD29D;
    width: 50px;
    margin: 20px auto;
  }
}
.actual-info__text {
  font-size: 18px;
  color: #666;
}
.actual-info-box {
  float: left;
  width: 33.33333333333333%;
  padding: 20px 15px;
}
.actual__img {
  width: 100%;
}
.actual__title {
  font-weight: bold;
}
.actual__text {
  text-align: justify;
  padding: 0 15px 0 0;
}

.les-mer__link {
  display: inline-block;
  padding: 4px 8px;
  color: $button-color-primary;
  border: 1px solid $button-color-primary;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  &:hover,
  &:focus{
    color: #fff;
    background-color: $button-color-primary;
  }
}

.footer {
  background-color: #fff;
}
.footer__container {
  padding: 50px 15px 30px;
  min-width: 300px;
  margin: 0 auto;
}
.footer__support {
  text-align: center;
}
.footer__support-link  {
  display: inline-block;
  padding: 5px 30px;
  font-size: 17px;
  font-weight: 500;
  border-bottom: 2px solid #077733;
  box-shadow: 0px 1px 1px -1px #077733;
}
.button-primary {
  background-color: $button-color-primary;
  color: $button-font-color-primary;
  &:hover {
    background-color: #05C551;
    color: $button-font-color-primary;

  }
  &:focus {
    color: $button-font-color-primary;
  }
}
.footer__info {
  text-align: center;
  margin-top: 34px;
}
.footer__link-info {
  color: #333;
  font-size: 16px;
  &:hover {
    color: #333;
  }
  &:focus {
    color: #333;
  }
}
.footer__copyright {
  margin-top: 8px;
  font-weight: 400;
  font-size: 16px;
  color: #937B82;
}
.menu__bar {
  @extend .clearfix;
  display: none;
}

.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  z-index: 23;
  background: rgba(51, 51, 51, 0.36);
}
.menu__outer {
  display: none;
}
@media only screen and (max-width: $screen-sm-max) {
  .navigation {
    display: none;
  }
  .menu__bar {
    display: block;
    .menu__hamburger {
      float: right;
      padding-top: 15px;
    }
    .hamburger__elem {
      cursor: pointer;
    }
  }
  .menu__outer {
    display: block;
    -webkit-transition: 0.8s all;
    -moz-transition: 0.8s all;
    -ms-transition: 0.8s all;
    -o-transition: 0.8s all;
    transition: 0.8s all;
    position: fixed;
    background: #fff;
    max-width: 280px;
    height: 100%;
    top: 0;
    z-index: 27;
    right: -360px;
    box-shadow: 7px 19px 20px rgba(16, 16, 14, 0.63);
  }
  .menu-open .overlay {
    display: block;
    cursor: pointer;
  }
  .menu-open .menu__outer {
    right: 0;
  }
}

@media only screen and (max-width: $screen-xs-max) {
  .info-content {
    max-width: 500px;
    width: 100%;
    margin: auto;
    padding: 0;
    .content-box {
      float: none;
      width: auto;
      padding: 40px 15px;
    }
  }
  .subscribe-container {
    max-width: 500px;
  }
  .actual-info-container {
    max-width: 500px;
  }
  .actual-info-box {
    float: none;
    width: auto;
  }
}

@media only screen and (max-width: $screen-xs) {
  .logo__img {
    width: 100%;
    max-width: 215px;
  }
  .menu__bar {
    .menu__hamburger {
      padding-top: 5px;
    }
  }
  .slide-container__title {
    padding-left: 0;
  }
  .subscribe-container {
    max-width: 300px;
    .subscribe-box__submit_icon {
      right: 10px;
    }
    .subscribe-input-box {
      float: none;
      padding-right: 0;
      width: auto;
      margin-bottom: 10px;
    }
    .subscribe-submit-box {
      float: none;
      width: auto;
    }
  }
}